@import "../../vars.css";


.container {
    margin: 76px 10% 0 10%;
    color: var(--colors-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // overflow-x: scroll;//hide scrollbar and make it scroll infinitely
}

.container h2 {
    margin: 16px;
}

.title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}