@import "../../vars.css";

.experienceBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(90deg, rgba(165, 215, 232, 0.42) 0%, rgba(255,255,255,0) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.experienceBox img {
    min-width: 55px;
    max-width: 55px;
}

.experienceBox:hover {
    background-size: 100% 100%;
}

.experienceBox h3 {
    font-size: 25px;
    font-weight: 600;
}

.experienceBox p {
    font-size: 25px;
}

@media screen and (max-width: 830px) {
    .experienceBox {
        padding-left: 0;
        padding-right: 0;
    }
}