:root {
    /* Colors */
    --colors-text: #fff;
    --colors-dark-text: #000;
    --colors-primary: #1F2833;
    --colors-secondary:#C5C6C7;
    --colors-dark: #190061;
    --colors-dark-secondary: #0f0b1b;
    --colors-bg: #0B0C10;

    /* Font */
    --font-roboto: "Roboto";
}
