:root {
    /* Colors */
    --colors-text: #fff;
    --colors-primary: #576cbc;
    --colors-secondary:#19376d;
    --colors-dark: #0b2447;
    --colors-bg: #04152d;

    /* Font */
    --font-roboto: "Roboto";
}