:root {
    /* Colors */
    --colors-text: #fff;
    --colors-dark-text: #000;
    --colors-primary: #1F2833;
    --colors-secondary:#C5C6C7;
    --colors-dark: #190061;
    --colors-bg: #0B0C10;

    /* Font */
    --font-roboto: "Roboto";
}

/*
#0C0032
#190061
#240090
#3500D3
#282828

#0B0C10
#1F2833
#C5C6C7
#886176
#D64550
#7a7b7c

#a5d7e8
*/